---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'

const model = import.meta.env.OPENAI_API_MODEL || 'gpt-3.5-turbo'
---

<header>
  <div class="fl">
    <Logo />
    <span class="gpt-title">Private</span>
    <span class="gpt-subtitle">GPT</span>
    <Themetoggle />
  </div>
  <p mt-1 op-60>Based on OpenAI API ({model}).</p>
</header>
